BasedOnStyle: Google
IndentWidth: 4
ColumnLimit: 0




 
# AllowShortFunctionsOnASingleLine: Empty # Prevents collapsing short functions  (maybe i want this??)

# PointerAlignment: Left # doesn't seem to work?



# # even Microsoft though doesn't enforce it for all braces like if and while... i do though!
# BraceWrapping:
# #   AfterControlStatement: Always
#   AfterControlStatement: Never # will put it back!




# ReflowMacros: false
# StatementMacros: ['#pragma']
# KeepEmptyLinesAtMacroStart: true
# SortIncludes: false






# IndentCaseLabels: false

# StatementMacros: ['#pragma region', '#pragma endregion']

# reakBeforeBraces: Attach ## also seems weird




# # Control the alignment of escaped newlines in macro definitions
# AlignEscapedNewlines: Left
# # Ensure trailing comments are aligned
# AlignTrailingComments: true
# # Indent preprocessor directives to match nesting levels
# IndentPPDirectives: AfterHash
